<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398854908904-bc0k2ajpmo2rarcd13oigdrbdc1np589.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398854908904-bc0k2ajpmo2rarcd13oigdrbdc1np589</string>
	<key>API_KEY</key>
	<string>AIzaSyBQn87cQf2kQpKJH9K75irHhvKTNahMQYo</string>
	<key>GCM_SENDER_ID</key>
	<string>398854908904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productsapp</string>
	<key>PROJECT_ID</key>
	<string>shoppingcart-e9ad5</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingcart-e9ad5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398854908904:ios:ca7b8f514f4b2514be925d</string>
	<key>DATABASE_URL</key>
	<string>https://shoppingcart-e9ad5.firebaseio.com</string>
</dict>
</plist>